#jinja2: keep_trailing_newline: True
<?xml version="1.0" encoding="utf-8"?>
<zone>
  <short>Public</short>
  <description>For use in public areas. You do not trust the other computers on networks to not harm your computer. Only selected incoming connections are accepted.</description>
{% for service in firewalld_zone_public_services %}
  <service name="{{ service }}"/>
{% endfor %}
{% for port in firewalld_zone_public_ports %}
  <port port="{{ port.number }}" protocol="{{ port.protocol }}"/>
{% endfor %}
  <forward/>
</zone>
